.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#000, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.popup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 90%;

  @media (max-width: (map.get($breakpoints, "md") - 0.02)) {
    height: auto;
  }

  &__button-close {
    align-self: flex-end;
  }
}
